/* Loud Comment */
// Silent Comment
/// Documentation Comment

//Variables in SASS | Introduced with '$'
$bg-color: #2C3E50;
$hover-color: #16A085;
$text-color: #FFFFFF;

$button-bg: #006699;
$button-padding: 5px;

.Button {
  background-color: $button-bg;
  border-radius: 8px;
  color: $text-color;
  display: inline-block;
  padding: $button-padding;
  text-decoration: none;
}

.JumboButton {
  @extend .Button;
  padding: $button-padding + 30;
}

.LightButton {
   @extend .Button;
   background-color: $button-bg /*  * 1.5  */;  //Removed in dart-sass :'(    https://github.com/sass/sass/issues/2144
 }

//You can nest selectors
//Nesting has the same effect of creating this kind of CSS selectors ( "nav ul {}" )
nav {

  ul {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    color: $text-color;
    display: inline-block;
    padding: 10px 16px;
    text-decoration: none;
  }

  a:hover {
    background-color: $hover-color;
  }

}

#profile_name {
  font-size: 24px;
}

div > {
  p {
    //Paragraphs directly nested into divs
  }
  //applies to all divs
}

// the extend keyword | Styles Inheritance
.Panel {
  border: 3px solid dodgerblue;
  background-color: lightgreen;
  margin: 10px;
}

// Mixins
@mixin BorderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.LittlePanel {
  @extend .Panel;
  @include BorderRadius(5px);
  font-size: 12px;
  padding: 5px;
}

.BigPanel {
  @extend .Panel;
  @include BorderRadius(20px);
  font-size: 32px;
  padding: 20px;
}

@import "profile-partial";
//Import partials ^^^^ (Other secondary SCSS Files)

//Interpolation in mixins
@mixin define-emoji($name, $char) {
  span.emoji-#{$name} {
    font-family: IconFont, serif;
    font-variant: normal;
    font-weight: normal;
    content: $char;
  }
}

@include define-emoji("bug", "🐛");
@include define-emoji("lightning", "⚡️");
