//Variables in SASS | Introduced with '$'
$bg-color: #2C3E50;
$hover-color: #16A085;
$text-color: #FFFFFF;

//You can nest selectors
//Nesting has the same effect of creating this kind of CSS selectors ( "nav ul {}" )
nav {

  ul {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    color: $text-color;
    display: inline-block;
    padding: 10px 16px;
    text-decoration: none;
  }

  a:hover {
    background-color: $hover-color;
  }

}

#profile_name {
  font-size: 24px;
}

@import "profile-partial";
//Import partials ^^^^ (Other secondary SCSS Files)

