/* TODO: OFFSET THE FREAKING ICONS */
body {
    font-family: Roboto, serif;

    /*  Gradient  */
    background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    background-clip: border-box;
    height: 100vh;
}

h1 > i {
    float: right;
    font-size: 24px;
    border: #FFF 2px solid;
    border-radius: 100px;
}

input {
    font-size: 18px;
    background-color: #F7F7F7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    color: #202020;
    border: 3px solid transparent;
    display: none;

    /* So that the width prop takes into account all the space till the border including the padding (default value is content-box) */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input:focus {
    background: #FFF;
    outline: none;
    border: 3px solid #2980B9;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    height: 40px;
    line-height: 40px;
    color: #202020;
}

li:nth-child(odd) {
    background-color: #FFF;
}

span {
    background-color: #e74c3c;
    height: 40px;
    width: 0;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    transition: 0.3s;
    opacity: 0;

    cursor: pointer!important;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

.Done {
    color: gray;
    text-decoration: line-through;
}

#container {
    width: 500px;
    margin: 100px auto;
    user-select: none;
    background-color: #F7F7F7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}