/*primo di quel tipo a seconda del suo genitore*/
li:first-of-type {
    background-color: slategrey;
}

/*l'ennesimo di quel tipo a seconda del suo genitore*/
li:nth-of-type(2) {
    background-color: mediumseagreen;
}

/* nth of type */
li:nth-of-type(odd) {
    background-color: #778485;
}

/*ultimo di quel tipo a seconda del suo genitore*/
li:last-of-type {
    background-color: antiquewhite;
}

/* Cover: l'importante è che copra tutto lo spazio disponibile, se poi viene tagliata fa lo stesso */
/* Contain: l'importante è che l'immagine si veda tutta, se poi ci sono dell bande bianche fa lo stesso */
body {
    background: url(https://i.imgur.com/EdAGGFS.jpg) center center fixed no-repeat;
    background-size: cover;
    color: aqua;
    font-family: Raleway, serif;
    font-weight: normal;
}

#theDiv {
    border: 10px dashed blue;
    padding: 50px;
    position: fixed;
    left: 430px;
    top: 280px;
    width: 1280px;
    height: 720px;
    color: black;
    font-weight: bold;
    font-size: 80px;
    text-decoration: underline;
    text-align: center;
    font-family: Indie Flower, serif;
    background-color: burlywood;
    background-clip: border-box;
}

/* parameters {traslazione orizzontale | traslazione verticale | } */
.EffettiTesto {
    text-shadow: 2px 2px 8px #00ff00;
}

@font-face {
    font-family: font-tremante;
    src: url('../../font/ITCBLKAD.ttf');
}

/* CSS Selectors */
/* Element Selector */
li {
    border: 2px solid #34495e;
}
/* Class Selector */
.canceled {
    text-decoration: line-through;
}

/*ID Selector */
#specialLi {
    background-color: #1f8b4d;
}

/* Star (Universal) Selector (Selects EVERYTHING) */
/* Used to reset default styles such as: removing margin, set box-sizing  */
* {
    border: 1px solid lightgray;
}

/* Descending Selector */
li label {
    background-color: #3498db;
}

/* Direct Children Selector - Selects all lis directly inside of a ul element */
ul > li {
}

/* Adjacent Sibling Selector* (selects all uls that have an h2 element RIGHT before them)*/
h2 + ul {
    margin-left: 100px;
}

/* General Sibling Selector (selects all uls that have an ul element before them somewhere in the DOM) */
ul ~ ul {
    background-color: crimson;
}

/* Attribute Selectors */
input[type="checkbox"] {
    background-color: #7c4792;
}

/*Per tutti gli elementi che possiedono l'attributo id | Si può anche restringere il campo ad un certo elemento*/
[id] {
    background: magenta;
}

/* '*=' : contains | '=' is equal to */
a[href*=".net"] {
    background-color: lightgrey;
}

/* '|=' : starts with until some separator char (-) | '^=' : starts with | '$=' ends with */
a[href^="https"] {
    background-color: palegreen;
}

a[target="_blank"]::after {
    content: url("//unsplash.it/20/20");
    display: inline-block;
    margin-left: 5px;
}