button {
    resize: both;
    overflow: auto
}

#editableArea {
    resize: both;
    overflow: auto;
    background: lightgoldenrodyellow;
    width: 300px
}

#form {
    background: lightblue;
    width: 400px;
    height: 400px;
    margin-bottom: 10px
}

#form, #comments {
    resize: both;
    overflow: auto
}

#outline {outline: blue solid 1px}

/* Navigazione tramite shift + freccette, quasi per niente supportata, praticamente inutile siccome non è utilizzata */
/*#b1 {nav-left: #b4; nav-right: #b2}
#b2 {nav-left: #b1; nav-right: #b3}
#b3 {nav-left: #b2; nav-right: #b4}
#b4 {nav-left: #b3; nav-right: #b1}*/