img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

p {
    width: 30%;
    font-family: Raleway, serif;
    font-weight: 800;
    font-size: 23px;
    margin-left: 1.66%;
    text-transform: uppercase;
    padding-bottom: 1.66%;
    border-bottom: 3px lightgray solid;
}